body {
  padding-top: 30px;
}
.imagePreview {
  width: 100%;
  max-height: 100%;
  border: 1px solid black;
}
.details {
  padding: 20px;
}
.imageStyle {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  height: 130px;
  width: 100px;
  /* max-width: 100%;
  max-height: 100%; */
}
.active {
  border: 2px solid rgb(6, 133, 38);
}
.productDetails h1 {
  font-weight: 300;
  font-size: 44px;
  letter-spacing: -2px;
}
.productDetails h4 {
  margin-top: 20px;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(27, 25, 25);
}
.buy-button {
  margin-top: 45px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 2px;
  background-color: #009688;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}

/* Footer Style Copied */

footer {
  background-color: black;
  height: 180px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer ul li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 5px;
  cursor: pointer;
}
footer ul li a,
footer ul li {
  text-decoration: none;
  color: #b8b8b8;
  font-size: 12px;
}
footer ul li a:hover,
footer ul li:hover {
  color: #009688;
}
footer ul li h3 {
  text-decoration: none;
  color: #dcdcdc;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
  }
  footer ul {
    width: 50%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 375px) {
  footer ul {
    width: 100%;
    margin-bottom: 30px;
  }
}
